div {
    color: blueviolet;font-style: normal
}

p{
    color: rebeccapurple;
    padding: auto;
}

*{
    font-style: italic;
    
}

input[disabled]{
     width: 300px;
}

.pa{
    background-color: green;
}